label {
	display: inline-block;
	margin-bottom: .5rem;
}

@font-face {
	font-family:Montserrat;font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_cJD3gfD_u50.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

@font-face {
	font-family:Montserrat;font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_cJD3gnD_g.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
	font-family:Montserrat;font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

@font-face {
	font-family:Montserrat;font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
	font-family:Montserrat;font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3gfD_u50.woff2) format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

@font-face {
	font-family:Montserrat;font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

.btn:disabled {
	opacity: .65;
}

.btn-primary {
	color: #fff;
	background-color: #ff6363;
	border-color: #ff6363;
}

.btn-primary:hover {
	color: #fff;
	background-color: #ff6363;
	border-color: #ff6363;
}

.btn-primary:focus {
	color: #fff;
	background-color: #ff6363;
	border-color: #ff6363;
	box-shadow: 0 0 0 .2rem rgba(38,143,255,.5);
}

.btn-primary:disabled {
	color: #fff;
	background-color: #ff6363;
	border-color: #ff6363;
}

.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active {
	color: #fff;
	background-color: #ff6363;
	border-color: #ff6363;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,.btn-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: 0 0 0 .2rem rgba(38,143,255,.5);
}

.btn-manage-token {
	background-color: #ffa163;
	color: #fff;
}

.btn-link {
	font-weight: 400;
	color: #ff6363;
	text-decoration: none;
	cursor: pointer;
}

.btn-link:hover {
	color: #ff6363;
	text-decoration: underline;
}

.btn-link:focus {
	text-decoration: underline;
}

.btn-link:disabled {
	color: #6c757d;
	pointer-events: none;
}

@-webkit-keyframes spinner-border {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spinner-border {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

body {
	font-family: Montserrat,sans-serif;
	line-height: 1.8;
	font-size: 1em;
	background: #f2f5f9;
	color: #000839;
	overflow-x: hidden;
}

body:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.2);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.btn {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 30px;
	font-size: 14px;
}

.btn:active,.btn:focus {
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn.btn-primary {
	background: #ff6363;
	border-color: #ff6363;
}

.btn.btn-primary:hover {
	border-color: #f77;
	background: #f77;
}

.form-control {
	border: 2px solid #e9ecef;
	font-size: 16px;
}

.form-control:active,.form-control:focus {
	border-color: #ff6363;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-control::placeholder {
	opacity: .4;
	font-style: italic;
}

.logo:hover {
	color: #fff;
}

.control {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 15px;
	cursor: pointer;
	font-size: 18px;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.contract-address-div {
	display: none;
}

#btn-token-deploy {
	width: 200px;
}

.copy-contract-address {
	height: 32px;
}

.metamask-link {
	color: #6495ed;
}

.modal-body-title {
	font-size: 34px;
}

.btn-manage {
	border-radius: 5px;
	padding: 2px 14px 2px 14px;
}

.metamask-logo {
	width: 32px;
	height: 32px;
}

#token-manage-modal-content {
	position: relative;
}